@page "/"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello dotnet</title>
    <style>
        .grid-layout {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    </style>
</head>

<body>
    <section class="grid-layout">
        <div>
            <h1>Hello .NET Core 5</h1>
            <p>A simple .NET Core app with API and Razor pages</p>
            <a href="/demo">Go to Demo</a><br />
            <a target="_blank" href="https://github.com/anasnajaa/dotnet-core-sample">Source Code</a>
        </div>
        <div>

        </div>
        <div></div>
    </section>
</body>

</html>